body {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
}
.separator {
  border: 0;
  width: 121px;
  height: 1px;
}
.separator--color {
  background-image: linear-gradient(84deg, #07a5ff 0%, #005295 100%);
}
.separator--white {
  background-color: #fff;
}
header__socialmedia a {
  text-decoration: none !important;
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.header__socialmedia {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .header__socialmedia {
    width: 100%;
    align-content: center;
    justify-content: center;
  }
}

.header__socialmedia img {
  margin: 0 5px;
}

.nabar-nav {
  display: inline;
  list-style: none;
  padding-left: 0;
  margin-left: 100px;
}

.nav-item {
  margin-left: 10px;
  display: inline;
  position: relative;
  padding-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-item:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-image: url("images/Rectangle_5.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.banner {
  height: 800px;
  display: flex;
  justify-content: center;
  background-image: url("images/shutterstock_763620589.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  color: #ffffff;
}

.banner__title {
  color: #ffffff;
  font-family: "Cocon Pro";
  font-size: 89px;
  font-weight: 400;
  text-transform: uppercase;
}
.banner__content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 720px) {
  .banner__title {
    font-size: 53px;
  }
  .banner__content {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  .banner__subtitle {
    text-align: center;
  }
}

.banner__subtitle {
  margin: 0 0 32px;
  display: inline;
  color: #ffffff;
  font-family: Signika;
  font-size: 48px;
  font-weight: 400;
}

.banner__button {
  white-space: nowrap;
  padding: 18px 25px 11px 12px;
  width: 200px;
  text-align: center;
  align-content: center;
  color: #ffffff;
  font-family: "Cocon Pro";
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-image: linear-gradient(84deg, #02a3fe 0%, #015092 100%);
}

.banner__button:hover {
  text-decoration: none !important;
  color: #fff;
}

.about {
  width: 100%;
  background-color: #fff;
}

.about__image {
  top: -110px;
  z-index: 999;
  right: -383px;
}

.about__content {
  margin: 130px 0 130px;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.about__content h1 {
  color: #000000;
  font-family: "Cocon Pro";
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.about__content h2 {
  color: #000000;
  font-family: "Signika Light";
  font-size: 20px;
  font-weight: 400;
}

.about__content p {
  color: #818181;
  font-family: "Signika";
  font-size: 18px;
  font-weight: 300;
}
.about__contener {
  padding: 0 !important;
  width: max-content;
  height: auto;
}
@media screen and (max-width: 720px) {
  .about__content {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
  @media screen and (max-width: 1200px) {
  .about__image {
    position: relative !important;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
  }
}

.nutshell {
  padding: 160px 0 160px;
  align-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: #f2f2f2;
}

.nutshell__content {
  width: 100%;
}

.nutshell h1 {
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: "Cocon Pro";
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

.nutshell__collumn {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-content: center;
}

.nutshell__item {
  height: 100px;
  margin: 20px 0 20px;
  padding: 7px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #818181;
  font-family: "Signika";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1.08px;
}

@media screen and (max-width: 1200px) {
  .nutshell__item--text {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 100%;
    flex-flow: wrap;
    text-align: center;
  }
}

.nutshell__img {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.squad {
  text-align: center;
  padding: 160px 0 160px 0;
  background-color: #ffffff;
  align-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}

.squad__content {
  width: 100%;
}

.squad h1 {
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: "Cocon Pro";
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

.squad__img {
  display: flex;
  flex-direction: column;
  min-height: 410px;
  font-family: "Signika";
  font-size: 14px;
  letter-spacing: -1.32px;
  font-weight: 300;
  justify-content: flex-end;
  text-align: center;
  align-content: center;
  background-color: #000000;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.squad__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 83px;
}

.squad p {
  height: 81px;
  padding: 0 5px 0 5px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.squad__cdpr {
  background-image: url("images/cdpr_img.png");
}

.squad__cig {
  background-image: url("images/cig_img.png");
}

.squad__pw {
  background-image: url("images/pw_img.png");
}

.squad__tqg {
  background-image: url("images/tgq_img.png");
}

.squad__11bit {
  background-image: url("images/11bit_img.png");
}

.squad__element {
  padding: 0 0.5px 0 0.5px;
  margin-bottom: 30px;
}

.level {
  padding: 160px 0 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: max-content;
  background-image: url("images/Warstwa_29.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.level h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Cocon Pro";
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.level h2 {
  text-align: center;
  color: #ffffff;
  font-family: Signika;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -1.56px;
}

.level p {
  text-align: center;
  color: #ffffff;
  font-family: Signika;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -1.32px;
}

@media screen and (max-width: 1000px) {
  .level p {
    visibility: hidden;
    clear: both;
    float: left;
    width: 28%;
    display: none;
  }
  .level .separator {
    visibility: hidden;
    clear: both;
    float: left;
    width: 28%;
    display: none;
  }
}

.exchange {
  padding: 200px 0 200px;
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: max-content;
  align-content: center;
  align-items: center;
  background-image: url("images/gielda.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.exchange__title {
  height: max-content;
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: "Cocon Pro";
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 64px;
}

@media screen and (max-width: 720px) {
  .banner__title {
    font-size: 53px;
  }
}

.exchange__button {
  width: 260px;
  height: 49px;
  background-color: #efefef;
  padding: 10px 60px 16px 40px;
}

.newsletter {
  padding: 160px 0 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("images/newsletter.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.newsletter__title {
  height: max-content;
}

.newsletter h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Cocon Pro";
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

.newsletter__form {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.newsletter__form input {
  width: 45em;
  margin-top: 47px;
  height: 50px;
}

.newsletter__form input::placeholder {
  color: gray;
}

.newsletter__button {
  margin-top: 47px;
  height: 50px;
  width: 260px;
  padding: 1;
  border: 0;
}

.newsletter__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  height: max-content;
  background-color: #000000;
  bottom: 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer p {
  color: #d4d5d7;
  font-family: Signika;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -1.08px;
}

.footer__content--extras {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.footer__socialmedia img {
  margin: 0 5px;
}

.footer__content--extras span {
  margin: 0 30px;
}

@media screen and (max-width: 1000px) {
  .footer p {
    text-align: center;
  }

  .footer__content--extras {
    align-content: center;
    justify-content: center;
  }

  .footer__content--extras span {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
